html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  font-family: "Special Gothic", sans-serif;
}

header {
  background-color: #222;
  color: #fff;
  padding: 2rem;
  text-align: center;
}

section {
    padding: 2rem;
}

section h2 {
  padding: 1rem;
  text-align: center;
}

#contenedor-proyectos {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  padding-top: 1rem;
}

.card {
  background-color: lightgray;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: 300px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card h2 {
  margin-top: 0;
  font-size: 1.2rem;
}

.card-img {
  width: 100%;
  height: auto;
  border-radius: 6px;
  margin-bottom: 1rem;
  object-fit: cover;
}

.card a {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}

.card a:hover {
  background-color: #0056b3;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #222;
  color: #fff;
}

footer p a{
  text-decoration: none;
  color: #fff;
}

@media (max-width: 768px) {
  header h1 {
    font-size: 1.8rem;
  }

  header p {
    font-size: 1rem;
  }

  #cursos ul {
    padding-left: 1rem;
  }

  .card {
    width: 100%;
    margin: 0 auto;
  }

  #contenedor-proyectos {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 15px;
  }
}
